.my-contact{
height: 15vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 2em;
}
.My-contact-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media{
    display: flex;
     list-style: none;
     gap: 1em;
}
@keyframes moving {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.social-icon{
    color: rgb(46, 46, 46);
    font-size: 2.5rem!important;
}
.git{
    animation:moving 5s infinite ease-in-out; 
}

.in{
    animation:moving 5s infinite 1.5s ease-in-out;
}
.mail{
    animation:moving 5s infinite 3s ease-in-out;
}
.location{
    animation:moving 5s infinite 5s ease-in-out;
}
